@model IEnumerable<Obioha_WebAPP.Models.DTO.TenantDTO>

<div class="container-fluid">
    <div class="row">
            <div class="row my-3 d-flex mr-auto">
                <div class="col-7 col-sm-8 justify-content-start h1">
                    List Of Tenants
                </div>

                <div class="col-3 col-sm-4 mb-3 justify-content-end">
                  <a class="btn btn-outline-primary" asp-controller="Tenant" 
                  asp-action="CreateTenant">
                        <i class="bi bi-plus-square-fill"></i>
                        Add Tenant
                    </a>
                </div>
            </div>
            <div class="row mx-0">
                <div class="col-12">

                    <table class="table">
                        <thead>
                            <tr class="table-dark text-white">

                                <th>First Name</th>
                                <th>Middle Name</th>
                                <th>Last Name</th>
                                <th>Marrital Status</th>
                                <th>No of Kids</th>
                                <th>Nationality</th>
                                <th>Property Location</th>
                                <th>Tenancy Duration</th>
                                <th>Tenancy Start date</th>
                                <th>Tenancy End date</th>
                                <th>Moving Date</th>
                                <th>Deposite Amount</th>
                                <th>Update/Delete</th>

                            </tr>
                        </thead>
                        <tbody>
                        @if (Model != null)
                        {
                            @foreach (var tenant in Model)
                            {
                                <tr>
                                    <td>@tenant.First_Name</td>
                                    <td>@tenant.Middle_Name</td>
                                    <td>@tenant.Last_Name</td>
                                    <td>@tenant.Marriage_Status</td>
                                    <td>@tenant.No_Of_kids</td>
                                    <td>@tenant.Nationality</td>
                                    <td>@tenant.House.Name</td>
                                    <td>@tenant.Tenancy_Period</td>
                                    <td>@tenant.Tenancy_Start_Date</td>
                                    <td>@tenant.Tenancy_End_Date</td>
                                    <td>@tenant.Move_in_date</td>
                                    <td>@tenant.Deposite_Amount.ToString("c")</td>

                                    <td>
                                        <a class="btn btn-primary" asp-action="UpdateTenant" asp-route-id="@tenant.Id">
                                            <i class="bi bi-pencil-square"></i>
                                        </a>
                                        <a class="btn btn-danger" asp-action="DeleteTenant" asp-route-id="@tenant.Id">
                                            <i class="bi bi-trash-fill"></i>
                                        </a>
                                    </td>

                                </tr>
                            }
                        }
                        else{
                            <h3>"No tenant found"</h3>
                        }
                    </tbody>


                    </table>
                </div>
            </div>
        </div>
</div>




